body {
    background-color: rgb(37, 37, 37);
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.alternativelogo-image {
    width: 20%;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.container p span.typed-text {
    font-weight: normal;
    color: #dd7732;
}

.container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}


.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.box1 {
    float: left;
    width: 50%;
    padding: 60px;
    height: 200px;
}

.box2 {
    float: left;
    width: 50%;
    padding: 70px;
    height: 600px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}