body {
    background-color: rgb(37, 37, 37);
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.alternativelogo-image {
    width: 20%;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

.box1 {
    float: left;
    width: 50%;
    padding: 60px;
    height: 200px;
}

.box2 {
    float: left;
    width: 50%;
    padding: 70px;
    height: 600px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
